{% extends 'layouts/base_template.html' %}
{% load static %}
{% block title %}
	Horizon Homes
{% endblock %}
{% block content %}

	<div
			class="hero page-inner overlay"
			style="background-image: url('{% static 'app/images/hero_bg_3.jpg' %}')"
	>
		<div class="container">
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-9 text-center mt-5">
					<h1 class="heading" data-aos="fade-up">About</h1>

					<nav
							aria-label="breadcrumb"
							data-aos="fade-up"
							data-aos-delay="200"
					>
						<ol class="breadcrumb text-center justify-content-center">
							<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
							<li
									class="breadcrumb-item active text-white-50"
									aria-current="page"
							>
								About
							</li>
						</ol>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="section">
		<div class="container">
			<div class="row text-left mb-5">
				<div class="col-12">
					<h2 class="font-weight-bold heading text-primary mb-4">About Us</h2>
				</div>
				<div class="col-lg-6">
					<p class="text-black-50">
						Welcome to our Real Estate Website! We are a dedicated team of experienced professionals,
						committed to helping you buy, sell, or rent properties. With our extensive knowledge of the
						market and personalized approach, we ensure a smooth and successful real estate journey for our
						clients.
					</p>
					<p class="text-black-50">
						Whether you're a first-time homebuyer, an investor, or looking to upgrade, our real estate
						agents are here to guide you every step of the way. We understand that finding the perfect
						property is more than just a transaction, it's about finding a place to call home. Trust us to
						listen to your unique needs and provide tailored solutions.
					</p>
					<p class="text-black-50">
						With our cutting-edge technology and comprehensive database of listings, we offer a wide range
						of options to suit your preferences and budget. From urban apartments to suburban houses, we
						have something for everyone. Let us be your trusted partner in the real estate market – turning
						your dreams into reality.
					</p>
				</div>
				<div class="col-lg-6">
					<p class="text-black-50">
						As a leading real estate agency, we pride ourselves on our strong network of industry
						professionals and strategic partnerships. This allows us to stay ahead of the curve and provide
						you with the latest market trends and opportunities. Whether you're buying, selling, or
						investing, our team is equipped with the knowledge and resources to help you make informed
						decisions and achieve your real estate goals.
					</p>
					<p class="text-black-50">
						Customer satisfaction is our top priority. We understand that the real estate process can be
						complex and overwhelming. That's why we strive to provide a seamless and stress-free experience.
						Our friendly and dedicated agents will ensure clear communication, attention to detail, and
						prompt responses to your inquiries. Trust us to go above and beyond to exceed your expectations
						and deliver exceptional results. Join our growing list of satisfied clients today!
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="section pt-0">
		<div class="container">
			<div class="row justify-content-between mb-5">
				<div class="col-lg-7 mb-5 mb-lg-0 order-lg-2">
					<div class="img-about dots">
						<img src="{% static 'app/images/hero_bg_3.jpg' %}" alt="Image" class="img-fluid"/>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Quality properties</h3>
							<p class="text-black-50">
								Explore our extensive portfolio of 2 million listings. Find your ideal home or
								investment opportunity today.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Top rated agents</h3>
							<p class="text-black-50">
								Trust our top-rated agents to provide exceptional service, industry expertise, and
								personalized guidance throughout your real estate journey. Find your perfect agent
								today.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Easy and safe</h3>
							<p class="text-black-50">
								Experience the convenience of working with Horizon Homes - our seamless process ensures
								ease of navigation, while our strict security measures prioritize your safety. Trust us
								for all your real estate needs.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section pt-0">
		<div class="container">
			<div class="row justify-content-between mb-5">
				<div class="col-lg-7 mb-5 mb-lg-0">
					<div class="img-about dots">
						<img src="{% static 'app/images/hero_bg_2.jpg' %}" alt="Image" class="img-fluid"/>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-home2"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Quality properties</h3>
							<p class="text-black-50">
								Explore our extensive portfolio of 2 million listings. Find your ideal home or
								investment opportunity today.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-person"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Top rated agents</h3>
							<p class="text-black-50">
								Trust our top-rated agents to provide exceptional service, industry expertise, and
								personalized guidance throughout your real estate journey. Find your perfect agent
								today.
							</p>
						</div>
					</div>

					<div class="d-flex feature-h">
              <span class="wrap-icon me-3">
                <span class="icon-security"></span>
              </span>
						<div class="feature-text">
							<h3 class="heading">Easy and safe</h3>
							<p class="text-black-50">
								Experience the convenience of working with Horizon Homes - our seamless process ensures
								ease of navigation, while our strict security measures prioritize your safety. Trust us
								for all your real estate needs.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">
			<div class="row">
				<div class="col-md-4" data-aos="fade-up" data-aos-delay="0">
					<img src="{% static 'app/images/img_1.jpg' %}" alt="Image" class="img-fluid"/>
				</div>
				<div class="col-md-4 mt-lg-5" data-aos="fade-up" data-aos-delay="100">
					<img src="{% static 'app/images/img_3.jpg' %}" alt="Image" class="img-fluid"/>
				</div>
				<div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
					<img src="{% static 'app/images/img_2.jpg' %}" alt="Image" class="img-fluid"/>
				</div>
			</div>
			<div class="row section-counter mt-5">
				<div
						class="col-6 col-sm-6 col-md-6 col-lg-3"
						data-aos="fade-up"
						data-aos-delay="300"
				>
					<div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">2917</span></span
              >
						<span class="caption text-black-50"># of Buy Properties</span>
					</div>
				</div>
				<div
						class="col-6 col-sm-6 col-md-6 col-lg-3"
						data-aos="fade-up"
						data-aos-delay="400"
				>
					<div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">3918</span></span
              >
						<span class="caption text-black-50"># of Sell Properties</span>
					</div>
				</div>
				<div
						class="col-6 col-sm-6 col-md-6 col-lg-3"
						data-aos="fade-up"
						data-aos-delay="500"
				>
					<div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">38928</span></span
              >
						<span class="caption text-black-50"># of All Properties</span>
					</div>
				</div>
				<div
						class="col-6 col-sm-6 col-md-6 col-lg-3"
						data-aos="fade-up"
						data-aos-delay="600"
				>
					<div class="counter-wrap mb-5 mb-lg-0">
              <span class="number"
              ><span class="countup text-primary">1291</span></span
              >
						<span class="caption text-black-50"># of Agents</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section sec-testimonials bg-light">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="col-md-6">
					<h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">
						The Team
					</h2>
				</div>
				<div class="col-md-6 text-md-end">
					<div id="testimonial-nav">
						<span class="prev" data-controls="prev">Prev</span>

						<span class="next" data-controls="next">Next</span>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4"></div>
			</div>
			<div class="testimonial-slider-wrap">
				<div class="testimonial-slider">
					<div class="item">
						<div class="testimonial">
							<img
									src="{% static 'app/images/person_1-min.jpg' %}"
									alt="Image"
									class="img-fluid rounded-circle w-25 mb-4"
							/>
							<h3 class="h5 text-primary">James Smith</h3>
							<p class="text-black-50">Designer, Co-founder</p>

							<p>
								Far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.
								Separated they live in Bookmarksgrove right at the coast of
								the Semantics, a large language ocean.
							</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item">
									<a href="#"><span class="icon-twitter"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-facebook"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-linkedin"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-instagram"></span></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="item">
						<div class="testimonial">
							<img
									src="{% static 'app/images/person_2-min.jpg' %}"
									alt="Image"
									class="img-fluid rounded-circle w-25 mb-4"
							/>
							<h3 class="h5 text-primary">Carol Houston</h3>
							<p class="text-black-50">Designer, Co-founder</p>

							<p>
								Far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.
								Separated they live in Bookmarksgrove right at the coast of
								the Semantics, a large language ocean.
							</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item">
									<a href="#"><span class="icon-twitter"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-facebook"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-linkedin"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-instagram"></span></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="item">
						<div class="testimonial">
							<img
									src="{% static 'app/images/person_3-min.jpg' %}"
									alt="Image"
									class="img-fluid rounded-circle w-25 mb-4"
							/>
							<h3 class="h5 text-primary">Synthia Cameron</h3>
							<p class="text-black-50">Designer, Co-founder</p>

							<p>
								Far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.
								Separated they live in Bookmarksgrove right at the coast of
								the Semantics, a large language ocean.
							</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item">
									<a href="#"><span class="icon-twitter"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-facebook"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-linkedin"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-instagram"></span></a>
								</li>
							</ul>
						</div>
					</div>

					<div class="item">
						<div class="testimonial">
							<img
									src="{% static 'app/images/person_4-min.jpg' %}"
									alt="Image"
									class="img-fluid rounded-circle w-25 mb-4"
							/>
							<h3 class="h5 text-primary">Davin Smith</h3>
							<p class="text-black-50">Designer, Co-founder</p>

							<p>
								Far far away, behind the word mountains, far from the
								countries Vokalia and Consonantia, there live the blind texts.
								Separated they live in Bookmarksgrove right at the coast of
								the Semantics, a large language ocean.
							</p>

							<ul class="social list-unstyled list-inline dark-hover">
								<li class="list-inline-item">
									<a href="#"><span class="icon-twitter"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-facebook"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-linkedin"></span></a>
								</li>
								<li class="list-inline-item">
									<a href="#"><span class="icon-instagram"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}